<header class="containerHead">
    <nav class="menu">
        <ul>
            <li><a class="menuItem" [ngClass]="{ 'active': isActive('work') }" routerLink="/work">Work</a></li>
            <li><a class="menuItem" [ngClass]="{ 'active': isActive('aboutme') }" routerLink="/aboutme">About Me</a></li>
            <!-- <li><a class="menuItem" [ngClass]="{ 'active': isActive('blog') }" target="_blank" href="https://akuirdan.com/blog/">Blog</a></li> -->
            <li><a class="menuItem" [ngClass]="{ 'active': isActive('contact') }" target="_blank" href="https://wa.me/6285659878479">Contact</a></li>
        </ul>
    </nav>
</header>