<div class="background-image">
    <div class="containerHome">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="helloContainer">
            <h1 class="hello">Hi, Aku Irdan</h1>
            <h3 class="role">Programmer</h3>
            <p class="detail">Aku adalah pesulap yang siap buatkan Website dan Aplikasi buat Bisnis MU!</p>
        </div>
       <div class="projek">
            <h3 class="subhead">Sevice</h3>
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="menu">
                <mat-tab class="menuItem" label="Aplikasi Inventaris">
                    <!-- <div class="container">
                        <img class="projekGif" src="assets/img/Inventory.gif" alt="">
                        <div class="keterangan">
                            <p>
                                <br>
                                Aplikasi ini bisa kamu gunakan untuk mencatat Inventarisir Perusahaan
                            </p>
                            <button class="intip">
                                <a target="_blank" href="https://akuirdan.com/product/aplikasi-inventaris">Intip Contohya</a>
                            </button>
                        </div>
                    </div> -->
                    <app-projeck-inv></app-projeck-inv>
                </mat-tab>
                <!-- <mat-tab class="menuItem" label="Aplikasi Effs">
                    <div class="containerProjek">
                        <div class="container">
                            <img class="projekGif" src="assets/img/Effs.gif" alt="">
                            <div class="keterangan">
                                <p>
                                    <br>
                                    Web Aplikasi ini  bisa kamu gunakan untuk Membantu Efisiensi Perusahaan
                                </p>
                                <button class="intip">
                                    <a target="_blank" href="https://akuirdan.com/product/aplikasi-pencatatan-inventaris-perusahaan-dengan-fitur-qr-code/">Intip Contohya</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-tab> -->
                <mat-tab class="menuItem" label="Website Perusahaan">
                    <!-- <div class="container">
                        <img class="projekGif" src="assets/img/Web.gif" alt="">
                        <div class="keterangan">
                            <p>
                                <br>
                                Website untuk membuat Perusahaan-mu terkenal di dunia Online
                            </p>
                            <button class="intip">
                                <a target="_blank" href="https://insanmuliamalang.sch.id/">Intip Contohya</a>
                            </button>
                        </div>
                    </div> -->
                    <app-projeck-web></app-projeck-web>
                </mat-tab>
                <mat-tab class="menuItem" label="Pemasangan Mirotik">
                    <app-mikrotik></app-mikrotik>
                    <!-- <div class="containerProjek">
                        <app-mikrotik></app-mikrotik>
                    </div> -->
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="projek">
            <h3 class="subhead">Pesan Service</h3>
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="menu">
                <mat-tab class="menuItem" label="Web Aplikasi">
                    <div class="order">
                        <div class="orderItem">
                            <h3 class="judulOrder">
                                Landing Page
                            </h3>
                            <div class="tawaran">
                                <p>2 Halaman</p>
                                <p>Domain Pilihan</p>
                                <p>Basic SEO</p>
                                <p>Sync dengan Google</p>
                                <p>Setting Iklan</p>
                            </div>
                            <div class="kotakHarga">
                                <h3 class="harga">Rp 590.000</h3>
                                <p class="subscribe">&nbsp;</p>
                                <button class="pesan">
                                    <a target="_blank" href="https://akuirdan.com/product/landing-page/">Pesan</a>
                                </button>
                            </div>
                        </div>
                        <div class="orderItem">
                            <h3 class="judulOrder">
                                Website Statis
                            </h3>
                            <div class="tawaran">
                                <p>Semua fasilitas Landing Page</p>
                                <p>7 Halaman</p>
                                <p>Maintanance</p>
                            </div>
                            <div class="kotakHarga">
                                <h3 class="harga">Rp 950.000</h3>
                                <p class="subscribe">+ Rp 490.000 / tahun</p>
                                <button class="pesan">
                                    <a target="_blank" href="https://akuirdan.com/product/website-statis/">Pesan</a>
                                </button>
                            </div>
                        </div>
                        <div class="orderItem">
                            <h3 class="judulOrder">
                                Website Dinamis
                            </h3>
                            <div class="tawaran">
                                <p>Semua fasilitas Landing Page</p>
                                <p>7 Halaman</p>
                                <p>Feature Upload Article</p>
                                <p>3x pelatihan cara menggunakan</p>
                            </div>
                            <div class="kotakHarga">
                                <h3 class="harga">Rp 1.490.000</h3>
                                <p class="subscribe">+ Rp 490.000 / tahun</p>
                                <button class="pesan">
                                    <a target="_blank" href="https://akuirdan.com/product/website-dinamis/">Pesan</a>
                                </button>
                            </div>
                        </div>
                        <div class="orderItem">
                            <h3 class="judulOrder">
                                Web Apps dinamis
                            </h3>
                            <div class="tawaran">
                                <p>Full Custome</p>
                                <p>24h Support</p>
                                <p>Unlimited edit hingga puas</p>
                            </div>
                            <div class="kotakHarga">
                                <p class="subscribe">Mulai dari</p>
                                <h3 class="harga">Rp 2.150.000</h3>
                                <p class="subscribe">+ Rp 990.000 / tahun</p>
                                <button class="pesan">
                                    <a target="_blank" href="https://akuirdan.com/product/web-apps-dinamis/">Pesan</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab class="menuItem" label="Mikrotik">
                    <div class="order">
                        <div class="orderItem">
                            <h3 class="judulOrder">
                                Regular
                            </h3>
                            <div class="tawaran">
                                <p>Blokir Konten Dewasa</p>
                                <p>Pembatasan Pemakaian Internet</p>
                                <p>Seperangkat Mikrotik</p>
                                <p>Melayani Seluruh Daerah Indonesia</p>
                            </div>
                            <div class="kotakHarga">
                                <h3 class="harga">Rp 750.000</h3>
                                <p class="subscribe">&nbsp;</p>
                                <button class="pesan">
                                    <a target="_blank" href="https://akuirdan.com/product/mikrotik-regular/">Pesan</a>
                                </button>
                            </div>
                        </div>
                        <div class="orderItem">
                            <h3 class="judulOrder">
                                Spesial
                            </h3>
                            <div class="tawaran">
                                <p>Semua fasilitas Regular</p>
                                <!-- <p>Pemasangan Hardware</p> -->
                                <p>Pembuatan Voucher</p>
                                <p>Free Maintanance</p>
                                <p>Penggabungan 2-3 Sumber Internet</p>
                                <p>User Hingga Puluhan</p>
                                <p>Melayani Malang Kota</p>
                            </div>
                            <div class="kotakHarga">
                                <p class="subscribe">Mulai dari</p>
                                <h3 class="harga">Rp 2.150.000</h3>
                                <p class="subscribe">+ Rp 500.000 / tahun</p>
                                <button class="pesan">
                                    <a target="_blank" href="https://akuirdan.com/product/mikrotik-spesial/">Pesan</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>