.container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-areas:
    "head"
    "content1"
    "content2"
    "content3";
    background-color: aliceblue;
    color: #444;
    width: 100vw;
}

.sticky {
    position: sticky;
    top: 0;
}

.head{
    grid-area: head;
	width: 100vw;
	height: 300px;
    margin-top: 100px;
    text-align: center;
}

.content1{
    grid-area: content1;
    height: 100px;
}

.content2{
    grid-area: content2;
    height: 100px;
}

.content3{
    grid-area: content3;
    height: 100px;
}

.picture{
    grid-area: picture;
	width: 100vw;
	height: 300px;
    margin-top: 100px;
}

.hello {
    font-family: poppins;
    font-weight: 600;
    font-size: 100px;
}

.role {
    font-family: poppins;
    font-weight: 600;
    font-size: 60px;
    margin: 60px 0px;
}

.detail {
    font-family: poppins;
}