<div class="background-image">
    <div class="container">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="helloContainer">
            <h1 class="hello">Hi, Aku Irdan</h1>
            <h3 class="role">Programmer</h3>
            <p class="detail">Aku adalah pesulap yang siap buatkan Website dan Aplikasi buat Bisnis MU!</p>
        </div>
        <div class="projek">
            <h3 class="subhead">Project Sebelumnya</h3>
            <div class="menu">
                <p class="menuItem">Inventory</p>
                <p class="menuItem">Rapot</p>
                <p class="menuItem">Effs</p>
                <p class="menuItem">Website</p>
            </div>
            <div class="containerProjek">
                <app-projeck-effs></app-projeck-effs>
            </div>
        </div>
        <div class="order"></div>
    </div>
</div>