.containerFoot {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    color: #2F2F2F;
    padding: 10px;
    /* width: 100vw; */
    height: 30vh;
}

.ready {
    font-family: poppins;
    color: #2F2F2F;
    font-weight: 600;
    font-size: 32px;
    margin: 0;
    background-color: transparent;
}
.buttonfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20vw;
    margin: auto;
}

.sub {
    background-color: transparent;
}

.buttonFoot {
    width: 8vw;
    height: 6vh;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 15px;
}

@media (max-width: 1024px) {
    .buttonFoot {
        width: 20vw;
        border-radius: 40px;
        height: 4vh;
        margin: 5px;
    }
    .containerFoot {
        height: 17vh;
    }
    .buttonfooter {
        width: 40vw;
    }
}

/* Tablet styles */
@media (max-width: 768px) {
    .buttonFoot {
        width: 20vw;
        border-radius: 20px;
        height: 5vh;
        margin: 5px;
    }
    .containerFoot {
        height: 22vh;
    }
    .buttonfooter {
        width: 40vw;
    }
  }
  
  /* Phone styles */
  @media (max-width: 480px) {
    .buttonFoot {
        width: 30vw;
        border-radius: 20px;
        /* margin: 5px; */
    }
    .containerFoot {
        height: 30vh;
    }
    .buttonfooter {
        width: 60vw;
        height: 10vh;
    }
  }