<div class="background-image">
    <div class="containerHome">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="hicontainer">
            <h1 class="hello2">Aku Irdan</h1>
        </div>
        <div class="about">
            <div class="avatar">
                <img src="assets/img/irdan.png" alt="" srcset="">
            </div>
            <div class="introduce">
                <h3 class="batman">Im Batman</h3>
                <p class="story">
                    Currently I work as a Tech Guy at Yayasan Insan Mulia. I build Websites, Applications and take care of everything related to IT in this company. But I love Programming more than any other job as a tech guy, that is why i’m loooking for a role or a project as Developer. I am an introvert who is used to leading a team. In my previous experience, and in my current job, I’m used to leading small, well-prepared teams who work very well. I’m looking for a new challenge, and let’s make something great!!!
                    Checkout My Github to see the example of my Code
                </p>
            </div>
        </div>
        <div class="pengalaman">
            <div class="subhead">
                <p>work</p>
                <h3 class="judulPengalaman">Cerita Tentang Ku</h3>
            </div>
        </div>
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>