<div class="background-image">
    <div class="containerHome">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="hicontainer">
            <h1 class="hello2">Aku Irdan</h1>
        </div>
        <div class="about">
            <div class="avatar">
                <img src="assets/img/irdan.png" alt="" srcset="">
            </div>
            <div class="introduce">
                <h3 class="batman">Aku adalah orang IT</h3>
                <p class="story">
                    Currently I work as a Tech Guy at Yayasan Insan Mulia. I build Websites, Applications and take care of everything related to IT in this company. But I love Programming more than any other job as a tech guy, that is why i’m loooking for a role or a project as Developer. I am an introvert who is used to leading a team. In my previous experience, and in my current job, I’m used to leading small, well-prepared teams who work very well. I’m looking for a new challenge, and let’s make something great!!!
                    Checkout My Github to see the example of my Code
                </p>
            </div>
        </div>
        <div class="pengalamanContainer">
            <div class="headPengalaman">
                <p class="sub">work</p>
                <h3 class="judul">Cerita Tentang Ku</h3>
            </div>
            <div class="pengalaman">
                <div class="isipengalaman">
                    <div class="coFotbar">
                        <img src="assets/img/IMG_0150.JPG" alt="">
                    </div>
                    <div class="detailpengalaman">
                        <p class="sub">2021 s/d 2023</p>
                        <h3 class="subhead">YIM Malang</h3>
                        <p class="sub">Tech Guy</p>
                        <p class="ceritapengalaman">
                            Here I learned a lot about how to managing Social Media. How to create content that people love, and lead a team to always be productive.
                        </p>
                    </div>
                </div>
                <div class="isipengalaman">
                    <div class="detailpengalaman">
                        <p class="sub">2021 s/d 2023</p>
                        <h3 class="subhead">Kyuci</h3>
                        <p class="sub">FOUNDER AND LEADER</p>
                        <p class="ceritapengalaman">
                            Here I learned a lot about how to managing Social Media. How to create content that people love, and lead a team to always be productive.
                        </p>
                    </div>
                    <div class="coFotbar">
                        <img src="assets/img/kyuci.jpg" alt="">
                    </div>
                </div>
                <div class="isipengalaman">
                    <div class="coFotbar">
                        <img src="assets/img/QC.jpg" alt="">
                    </div>
                    <div class="detailpengalaman">
                        <p class="sub">2021 s/d 2023</p>
                        <h3 class="subhead">QC Indonesia</h3>
                        <p class="sub">MANAGER SYIAR MEDIA</p>
                        <p class="ceritapengalaman">
                            Here I learned a lot about how to managing Social Media. How to create content that people love, and lead a team to always be productive.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>