.hello2 {
    font-size: 6em;
}

.about {
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 90vw;
    margin: auto;
}

.hicontainer {
    margin: auto;
}

.avatar img {
    width: 30vw;
    margin-left: 30px;
}

.story {
    margin: 20px;
    background-color: white;
}

.batman {
    height: 30px;
    margin:  50px 20px;
}