<div class="background-image">
    <div class="containerHome">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="hicontainer">
            <h1 class="hello2">Aku Irdan</h1>
        </div>
        <div class="about">
            <div class="avatar">
                <div class="img-container">  
                    <img src="assets/img/ird.png" alt="" srcset="">
                </div>
                <div class="sosmed-container">
                    <img src="assets/svg/instagram.svg" alt="" srcset="">
                    <img src="assets/svg/github.svg" alt="" srcset="">
                    <img src="assets/img/upwork_logo_icon_144768.png" alt="" srcset="">
                </div>
            </div>
            <div class="introduce">
                <!-- <h3 class="batman">I'm a Programmer working remotely from Indonesia, Malang.</h3> -->
                <h3 class="batman">Aku seorang Programmer bekerja Remote dari Indonesia, Malang.</h3>
                <p class="story">
                    Aku sudah berkesempatan untuk terjun dalam berbagai projek Teknologi Informasi, dari mulai membuat Website dan Aplikasi hingga mengatur jaringan Internet Perusahaan menggunakan Mikrotik.  
                </p>
            </div>
        </div>
        <!-- <div class="pengalamanContainer">
            <div class="titleContainer1">
                <h3 class="subhead">General Tech Guy</h3>
                <p class="sub">2021 s/d 2023</p>
            </div>
            <div class="titleContainer2">
                <h3 class="subhead">General Tech Guy</h3>
                <p class="sub">2021 s/d 2023</p>
            </div>
            <div class="titleContainer3">
                <h3 class="subhead">General Tech Guy</h3>
                <p class="sub">2021 s/d 2023</p>
            </div>
        </div> -->
        <div class="skills">
            <h3 class="subhead">Skills</h3>
            <div class="containerSkill">
                <div class="kotakskill">
                    <img src="assets/svg/angular.svg" alt="" srcset="">
                    <p>Front-End Developer</p>
                </div>
                <div class="kotakskill">
                    <img src="assets/svg/laravel.svg" alt="" srcset="">
                    <p>Backend Developer</p>
                </div>
                <div class="kotakskill">
                    <img src="assets/svg/wordpress.svg" alt="" srcset="">
                    <p>Wordpress Developer</p>
                </div>
                <div class="kotakskill">
                    <img src="assets/svg/figma.svg" alt="" srcset="">
                    <p>Web Design</p>
                </div>
                <div class="kotakskill">
                    <img src="assets/svg/microtik.svg" alt="" srcset="">
                    <p>Mikrotik</p>
                </div>
                <div class="kotakskill">
                    <img src="assets/svg/seo.svg" alt="" srcset="">
                    <p>SEO</p>
                </div>
                <!-- <div class="kotakskill">
                    <img src="assets/svg/github.svg" alt="" srcset="">
                    <p>Text for Item 1</p>
                </div>
                <div class="kotakskill">
                    <img src="assets/svg/github.svg" alt="" srcset="">
                    <p>Text for Item 1</p>
                </div> -->
            </div>

        </div>
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>