button {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 12vw;
  height: 7vh;
  background-color: #7b1fa2b7;
  /* background-image: linear-gradient(to bottom, #7b1fa2b7 50%, #b07bc7b7 100%); */
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-size: 1.1em;
  font-weight: 500;
  color: white;
  margin: auto;
}

button:hover {
  background-color: #2f2f2f;
  /* box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1; */
}

button:active {
  background-color: #2f2f2f;
  /* box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa; */
}

button:focus {
  background-color: #2f2f2f;
  /* box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa; */
}
/* Menu */

p, h3 {
  background-color: white;
}

.menu {
  display: inline-flex;
  background-color: #D9D9D9;
  width: 25vw;
  margin: auto;
  padding: 5px;
  border-radius: 30px;
  text-align: center;
}

.menuItem {
  background-color: transparent;
  margin: auto;
  padding: 5px;
  border-radius: 30px;
  width: 120px;
  font-size: 1em;
  font-weight: 500;
}

img, .projekGif {
width: 50vw;
}

.keterangan {
background-color: white;
width: 50vw;
height: 60px;
margin: -30px auto;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
}

.mat-tab-group {
margin-bottom: 48px;
}

.container {
  margin-top: 25px;
  height: auto;
}

.sub {
  font-family: poppins;
  color: #9553b1;
  font-weight: 600;
  text-transform : uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  margin: 10px 0 10px 0;
}

@media (max-width: 1024px){
  img, .projekGif {
    width: 80vw;
    }
  .keterangan {
    width: 80vw;
    height: 70px
  }
  p {
    font-size: 15px;
    font-weight: 500;
  }
  button .kotakHarga {
    /* margin-top: 5vh; */
    width: 25vw;
    height: 10vh;
  }
  .container {
    height: auto;
  }
}

@media (max-width: 768px) {
  img, .projekGif {
    width: 80vw;
    }
  .keterangan {
    width: 80vw;
    height: 90px
  }
  p {
    font-size: 15px;
    font-weight: 500;
  }
  button .kotakHarga {
    /* margin-top: 5vh; */
    width: 25vw;
    height: 10vh;
  }
  .container {
    height: 40vh;
  }
}

/* Phone styles */
@media (max-width: 480px) {
  img, .projekGif {
    width: 80vw;
    }
  .keterangan {
    width: 80vw;
    height: 90px
  }
  p {
    font-size: 15px;
    font-weight: 500;
  }
  button {
    width: 25vw;
    height: 5vh;
  }
  .container {
    height: 35vh;
  }
}
