button {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 10vw;
  height: 6vh;
  background-image: linear-gradient(to top, #f3e308 50%, #c2c9c28c 100%);
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: poppins;
  font-size: 14px;
  font-weight: 600;
  color: #1a1919;
  text-shadow: 0 1px #fff;
}

button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
/* Menu */

.menu {
  display: inline-flex;
  background-color: #D9D9D9;
  width: 25vw;
  margin: auto;
  padding: 5px;
  border-radius: 30px;
  text-align: center;
}

.menuItem {
  background-color: transparent;
  margin: auto;
  padding: 5px;
  border-radius: 30px;
  width: 120px;
  font-size: 1em;
  font-weight: 500;
  color: #071730 !important;
}

img, .projekGif {
width: 50vw;
}

.keterangan {
background-color: white;
width: 50vw;
height: 70px;
margin: -30px auto;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
}

.mat-tab-group {
margin-bottom: 48px;
}

.container {
  margin-top: 25px;
}
