body { 
    margin: 0; 
    font-family: poppins;
    color: #2F2F2F;
    background-color: transparent;
}

h1, h3 {
    font-weight:700;
    font-size: 3rem;
}

p, h1, h3 {
    font-family: poppins;
}

* {
    box-sizing: border-box;
    font-size: 17px;
    font-family: poppins;
    color: #2F2F2F;
}

@import url('assets/component.css');
@import url('assets/background.css');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
