body { 
    margin: 0; 
    font-family: poppins;
    color: rgb(253, 253, 253);
    background-color: transparent;
}

h1 {
    font-weight: 600;
    color: rgb(253, 253, 253);
    font-size: 2rem;
}

p {
    color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    font-size: 17px;
    font-family: poppins;
}

@import url('assets/component.css');
@import url('assets/background.css');
